@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: red;
    pointer-events: none;
}

.pro {
    background: linear-gradient(to right, #C0C0C0, #A9A9A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    background-color: #404040;
    border: none;
    border-radius: 5px 0 0 5px;
    color: white;
    outline: none;
}

.search-button {
    background-color: red;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: darkred;
}

.sec {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-top: 10px;
}

.icon-button {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.icon-button i {
    margin-right: 10px;
    color: #e74c3c;
    font-size: 24px;
}

.icon-button span {
    color: #333;
    font-weight: 600;
}

.icon-button:hover {
    transform: scale(1.05);
    background-color: #e74c3c;
}

.icon-button:hover span, .icon-button:hover i {
    color: white;
}

.side-content {
    position: relative;
    padding-top: 10px;
}

.side-panel {
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: #444;
    padding: 20px;
    transition: left 0.3s ease;
}

.side-panel.open {
    left: 0;
}

.toggle-button {
    position: fixed;
    left: 10px;
    top: 100px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 100;
}

.sort-button {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #404040;
    color: white;
}

.extra {
    display: flex;
    padding-top: 100px;
    justify-content: right;
    padding-right: 30px;
    gap: 20px;
}

.extra-button {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.extra-button i {
    margin-right: 10px;
    color: #C0C0C0;
    font-size: 24px;
}

.extra-button span {
    color: #333;
    font-weight: 600;
}

.extra-button:hover {
    transform: scale(1.05);
    background-color: #C0C0C0;
}

.extra-button:hover span, .extra-button:hover i {
    color: white;
}

.popup-form-login {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.popup-form-create {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.form-container {
    position: relative;
    margin: 100px auto;
    padding: 20px;
    width: 300px;
    background-color: #404040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgray;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.text-btn {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.text-btn:hover {
    color: orangered;
    text-decoration: none;
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline-block;
    gap: 20px;
}